<!--## Contact Form

Use this form to send us an email

<form action="#" style="width: 50%">
  <input type="text" name="first_name" placeholder="Jane" aria-label="first name" style="width: 46.5%; float: left; margin-bottom: 1em" />
  <input type="text" name="last_name" placeholder="Smith" aria-label="last name" style="width: 46.5%; float: right; margin-bottom: 1em" />
  <input type="email" name="email" aria-label="email" style="margin-bottom: 1em" placeholder="jane.smith@gmail.com" />
  <textarea cols="46" rows="5" name="comments" aria-label="comments" style="margin-bottom: 1em" placeholder="Send us a message"></textarea>
  <input class="btn btn--primary" type="submit" value="Submit" />
</form>-->
